%p#notice= notice
%h1 Problems
%table
  %thead
    %tr
      %th{:colspan => "4"}
  %tbody
    - @problems.each do |problem|
      %tr
        %td= problem.title
        %td= link_to 'Show', problem
        %td= link_to 'Edit', edit_problem_path(problem)
        %td= link_to 'Destroy', problem, method: :delete, remote: true
%br/
= link_to 'New Problem', new_problem_path